.message-box {
  border: 1px solid grey; 
  margin: 5px 20px 0px 20px;
}

.text-box {
  margin: 0px;
  padding: 8px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.actions-box {
  display: flex; 
  justify-content: flex-end; 
  border-top: 1px solid lightgrey;
}